.correct {
  border: solid 2px green;
  animation: borderBlink 1s step-end infinite;
}
.incorrect {
  border: solid 2px red;
  animation: borderBlink 0.5s step-end infinite;
}
@keyframes borderBlink {
  50% {
    border-color: transparent;
  }
}
.answer-buttons-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; 
  max-width: 600px;
}

.answer-buttons-container > input {
  align-items: flex-end;
  flex: 1 0 calc(10% - 10px);
  
}

input[type=button], input[type=submit] {
  margin: 5px;
  min-width: 44px;
  height: 44px;
}

.button-icon {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.button-icon:hover {
  filter: brightness(85%);
}

.block{
  display: block;
}

.center {
  text-align: center;
}